<% layout("/layout/boiler") %>
<%=success%>
<style>

    
    #filters{
        height:50px;
        display:flex;
        flex:wrap;
        margin-bottom:1.5rem;

    }
    .filter{
        text-align:center;
        margin:1.5rem 1.5rem 0 0;
    }
    .filter p{
        font-size:0.7rem;
    }
    .filter a{
        transition:all 0.5s;
        opacity:0.7;
        text-decoration: none;
        color: #000;  
        
    }
    .filter a:hover{
        opacity:1;
        cursor:pointer;
        
    }
    .Gst-Tax{
        display:none;
        
    }
    .tax-toggle{
        height:2.5rem;
        /* width:2.5rem; */

        border:1px solid #0000009a ;
        border-radius:0.8rem;
        padding:0.7rem;
        margin:1.5rem 0 0 5.5rem;
        display: flex;
        align-items:center;
        
    }
    .form-check-label{
        font-size:0.8rem !important;
        font-weight:700;
    }
    #tax-2{
        display:none;
    }

    
    @media(max-width:950px){
     .h_2{
        display:none;
     }
    }
    @media(max-width:500px){
        #h_1{
         display:none;
        }
       #tax-2{
        display:inline;
       }
       #tax-1{
        display:none;
       }
       .tax-toggle{
       
       border:none;
       margin:0;
       
       }
       .tax-toggle div{
       display: flex;
       flex-direction:column;
       flex:wrap;
       height:4rem;
       width: 1.5rem;
       justify-content: flex-start;
       align-items: start;
       margin: 0;
       }
       .tax-toggle div label{
       margin-right:2.3rem;
       }
    }
    @media(max-width:400px){
       
        
    }
    @media(max-width:1100px){
        .tax-toggle{
            height:5rem;
            margin:0;
        }
    }

</style>

<div id="filters">

    <div class="filter">
        <a href="#">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
    </a>
    
    </div>
    <div class="filter">
        <a href="#">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
        </a>
    </div>
    <div class="filter">
        <a href="#">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic cities</p>
        </a>
    </div>
    <div class="filter">
        <a href="#">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
        </a>
    </div>
    <div class="filter">
        <a href="#">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
        </a>
    </div>
    <div class="filter"id="h_1">
        <a href="#">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Amazing Pools</p>
        </a>
    </div>
    <div class="filter"id="h_1">
        <a href="#">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
        </a>
    </div>
   
    <div class="filter h_2"id="h_1 " >
        <a href="#">
        <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
        </a>
    </div>
    <div class="filter h_2"id="h_1 ">
        <a href="#">
        <i class="fa-regular fa-snowflake"></i>
        <p>Arctic</p>
        </a>
    </div>

    <div class="filter h_2"id="h_1 ">
        <a href="#">
        <i class="fa-solid fa-igloo"></i>
        <p>Domes</p>
        </a>
    </div>

    <div class="filter h_2" id="h_1 ">
        <a href="#">
        <i class="fa-solid fa-ship"></i>
        <p>Boats</p>
        </a>
    </div>

    <div class="tax-toggle">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
            <label class="form-check-label" id="tax-1" for="flexSwitchCheckReverse">Display total after taxes</label>
            <label class="form-check-label" id="tax-2" for="flexSwitchCheckReverse">with taxes</label>
          </div>
    </div>

</div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">

        <% for(let allData of data){ %>
    <a href="/listing/<%=allData._id%>" class=" listing-links">
        
            <div class="card col card-listings" >
            <div class="card-inner">
                <div>
                    <img src=<%=allData.image.url%> class="card-img-top" alt="image" style="height:20rem">
                <div class="card-img-overlay"></div>
            </div>

                <div class="card-body">
                  <p class="card-text"><%=allData.title%><br/>
                  &#8377; <%= allData.price.toLocaleString('en-IN')%> / night
                  <i class="Gst-Tax">&nbsp; &nbsp; +18% GST</i>
                </p>
                </div>
            </div>
            </div>
        </a>
       <% } %>
    </div>
    <script>
        const taxSwitch = document.getElementById("flexSwitchCheckReverse");
        taxSwitch.addEventListener("click",()=>{
            let taxes = document.getElementsByClassName("Gst-Tax");

            console.log(taxes);
            for(tax of taxes){
                if(tax.style.display != "inline"){
                    
                    tax.style.display="inline";
                }
                else{
                    tax.style.display = "none";
                }

            }
        })
    </script>
  
   
