<% layout("/layout/boiler") %>
<script>
    const mapToken = "<%=process.env.MAP_TOKEN%>";
    const data = <%-JSON.stringify(data)%>;
</script>

    <div class="row mt-3 offset-2 mb-3">
    <h1><%=data.title%></h1>
    <div class="col-8">
        <div class="card card-listings" >
            <img src="<%=data.image.url%>" class="card-img-top card-img" alt="listing_image">
            <div class="card-body">
              <p class="card-text">
                <b> owned by:<%=data.owner.username%> </b><br>
                <%=data.description%> <br>
                &#8377;<%=data.price.toLocaleString('en-IN')%> <br>
                <%=data.location%> <br>
                <%= data.country%>
              </p>
            </div>
        </div>
        <div class="show-btn ">

            <% if(currUser && data.owner._id.equals(currUser._id)){ %>
                            <a href="/listing/<%=data._id%>/edit" class="btn btn-dark">Edit</a>
            <form method="post" action="/listing/<%=data._id%>?_method=DELETE">
                
                <button class="btn btn-dark">Delete</button>
                
            </form>

            <%}%>

        </div>

    </div>
</div>
<div class=" row offset-2 mb-3">
    <hr>
    <%if(currUser){%>
    <h2>Leave a Review</h2>
    <label for="range" class="form-label">Rating</label>
    <form method="POST" action="/listing/<%= data._id %>/reviews" novalidate class="needs-validation"> 
   
    <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    <div class="mb-2 mt-2">
        <label for="review" class="form-label">Comment</label>
        <textarea row="5" cols="10" id="review" class="form-control" name="reviews[comment]" required></textarea>
    </div>
    <div>  
          <button class="btn btn-dark">Submit</button>
    </div>
    <hr>
</form>
<%}%>
    <%if(data.review.length > 0){%>
        <h2 class="mt-5">All reviews</h2>
    
        <div class="row">
        <% for(reviews of data.review) {%>
                <div class="card col-5 mb-5 ms-2">
                    <h5 class="card-title"><%=reviews.author.username%></h5>
                    <p class="card-text"><p class="starability-result" data-rating=<%=reviews.rating%>></p></p>
                    <p class="card-text"><%= reviews.comment%></p>
                    <form method="POST" action="/listing/<%=data._id%>/reviews/<%=reviews._id%>?_method=DELETE">
                        <button  class="btn btn-sm btn-dark mb-2">Delete</button>
                    </form>
                </div>
        <%} %>
    </div>
    <%}%>
 

    <div class=" row mb-3">
        <h3>Where you'll be</h3>
        <div id='map'></div>

    </div>
</div>
<script src="/js/map.js"></script>
   


